---

import Layout from "../layouts/Layout.astro"

---


<Layout title="A Propos">
    <main class="main">
     
        <!--------------- CONTROL 1 ------------------------>
          <section class="control section grid">
    
            <div class="about-content delayMedium">
              <div class="about-data-1 ">
               <h1 class=" about-title delayMedium">PlayStation <br> Controller</h1> 
               <p class="section-description about-description delayLarge">This is a Hyper trgonomic Playstation Controller <br> Concept Hakes Gaming Far Hore Comfortable</p>
               <a class="button-about about-button delayLargeTopExtra" href="/produits">Explore Produts </a>
               <img class="blob" src="/images/blob.svg" alt="borda do fundo">
              </div>
    
              <div class="img-data-1 form-left">
                <img src="/images/Controller-About-1.svg" alt="Controler do playstation 4 da cor branco">
              </div>
            </div>
    
            <div class="about-content-1">
              <div class="about-data-1 data-2">
               <h1 class="section-title about-title-1">Expériencez le <span class="section-span">jeu authentique</span></h1> 
               <p class="section-description about-description-1">Découvrez la fiabilité et l'authenticité de nos services de jeu, conçus pour améliorer votre expérience de jeu.</p>
               <a class="button-power " href="/categories">Explorez nos services <i class="uil uil-arrow-right btn"></i></a>
              </div>
              <div class="img-data-1">
                <img class="control-about-2" src="/images/Controller-About-2.svg" alt="Controler do playstation 4 da cor preta">
              </div>
            </div>
    
            <div class="about-content-1">
              <div class="img-data-1 delayMedium">
                <img src="/images/Controller-About-3.svg" alt="Controler do playstation 4 da cor branco">
              </div>
    
              <div class="about-data-1 ">
               <h1 class="section-title about-title-1 delaySmallBottom">Découvrez l'expérience <span class="section-span">ultime</span></h1> 
               <p class="section-description about-description-1 delayMediumBottom">Explorez les dernières innovations dans le monde du jeu, conçues pour vous offrir une expérience de jeu sans précédent.</p>
               <a class="button-power delayLargeBottom" href="/categories">Découvrez plus <i class="uil uil-arrow-right btn"></i></a>
              </div>
            </div>
            
          </section>
      
          <!--------------- PRODUCT ------------------------>
         <section class="functions-container section grid">
          <div class="function-content">
            <h2 class="function-title section-title"  style="margin-top: 40px;">Nos <span class="section-span">Fonctionnalités</span></h2>
            <p class="function-description">Série 2 du contrôleur sans fil PlayStation</p>    
            <div class="card-content">
              <div class="card">
                <img class="icone-animation" src="/images/bx-rocket.png" alt="icone de foguete azul">
                <h3>VELOCITY</h3>
                <div class="line-function"></div><div class="circle-function"></div>
              </div>
    
              <div class="card">
                <img class="icone-animation" src="/images/bxs-battery-charging.png" alt="icone de bateria de celular azul">
                <h3>DURABLE</h3>
                <div class="line-function"></div><div class="circle-function"></div>
              </div>
    
              <div class="card">
                <img class="icone-animation" src="/images/bx-bluetooth.png" alt="icone do Bluetooth azul">
                <h3>bluetooth</h3>
                <div class="line-function"></div><div class="circle-function"></div>
              </div>
            </div>
          </div>
         </section>
    
      </main>

</Layout>
