---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Politique de confidentialite">
    <main class="main">
        <section class="section privacy grid" >
  
          <div class="privacy-container">
            <span class="sub-title">Politique de confidentialité</span>
              <h2>Protection de vos données <span class="section-span">personnelles</span></h2>
  
              <h4>1. Collecte et utilisation des données</h4>
              <p>Nous collectons vos données personnelles uniquement pour améliorer votre expérience sur nos sites web, applications et services, ainsi que pour vous informer sur nos offres et promotions.</p>
  
              <p>1.1 Les données sont collectées:</p>
  
              <ul>
                <li>(i) Lorsque vous vous inscrivez volontairement sur nos sites web ou applications;</li>
                <li>(ii) Pendant votre navigation sur nos sites web, stockées dans le navigateur de votre ordinateur;</li>
                <li>(iii) Pour vous envoyer des newsletters ou vous informer sur nos promotions et concours, si vous nous avez donné votre consentement;</li>
                <li>(iv) De nos partenaires qui ont obtenu notre autorisation pour partager ces informations avec nous.</li>
              </ul>
  
                <p>1.2 Les données que nous collectons peuvent inclure, mais sans s'y limiter:</p>
  
                <ul>
                  <li>(i) Les données d'inscription et l'adresse;</li>
                  <li>(ii) Les données pour la vérification de l'identité de l'utilisateur;</li>
                  <li>(iii) Les données pour les processus de gestion des données;</li>
                  <li>(iv) Les données de navigation.</li>
                </ul>
  
                <p>2. Sécurité et confidentialité</p>
                <p>Nous prenons très au sérieux la sécurité et la confidentialité de vos données personnelles. Nous utilisons des mesures de sécurité appropriées pour protéger vos données contre tout accès non autorisé, perte, altération ou divulgation.</p>
  
                <p>3. Partage des données</p>
                <p>Nous ne partageons pas vos données personnelles avec des tiers sans votre consentement préalable, sauf si cela est nécessaire pour fournir un service ou une fonctionnalité que vous avez demandée.</p>
  
                <p>4. Droits sur les données</p>
                <p>Vous avez le droit de demander l'accès, la rectification ou la suppression de vos données personnelles. Vous pouvez également vous opposer au traitement de vos données ou demander leur portabilité.</p>
  
                <p>5. Modifications de cette politique</p>
                <p>Cette politique de confidentialité peut être modifiée à tout moment. Nous vous encourageons à consulter régulièrement cette page pour prendre connaissance de tout changement.</p>
  
                <p>6. Contact</p>
                <p>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité ou la manière dont nous traitons vos données personnelles, n'hésitez pas à nous contacter.</p>
  
          </div>
        </section>
      </main>
  
</Layout>