---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Terme d'utilisation">
    <main class="main">
        <section class="section terms grid" >
  
          <div class="terms-container">
              <span class="sub-title">AGREEMENT</span>
              <h2>Termes d' <span class="section-span">Utilisation</span></h2>
              <p>Il est important de prendre connaissance de ces Conditions de Service. Elles établissent ce que vous pouvez attendre de nous lors de l'utilisation de nos services, et ce que nous attendons de vous en retour.</p>
              <p>Ces Conditions de Service reflètent le fonctionnement de notre entreprise, les lois qui s'appliquent à notre société, ainsi que certaines valeurs fondamentales que nous avons toujours considérées comme vraies. Elles aident à définir la relation entre Vantage et vous-même lors de votre interaction avec nos services. Par exemple, ces termes couvrent les sujets suivants :</p>
  
                <ul class="about-list">
                  <li>Les attentes que vous pouvez avoir envers nous, qui décrit comment nous fournissons et développons nos services</li>
                  <li>Les attentes que nous avons envers vous, qui établit certaines règles pour l'utilisation de nos services</li>
                  <li>En cas de problèmes ou de désaccords, qui décrit vos droits légaux supplémentaires, ainsi que ce que vous pouvez attendre si quelqu'un viole ces termes</li>
                </ul>
  
                <p>Il est essentiel de comprendre ces termes car, pour utiliser nos services, vous devez les accepter.</p>
                <p>En plus de ces termes, nous publions également une Politique de Confidentialité. Bien qu'elle ne fasse pas partie de ces termes, nous vous encourageons à la lire pour mieux comprendre comment vous pouvez mettre à jour, gérer, exporter et supprimer vos informations.</p>
          </div>
        </section>
      </main>
</Layout>