
 <header class="header">
    <nav id="nav">
    
    <div class="logo">
      <div id="menu-mobile">
        <img class="menu-mobile" src="../images/menu-mobile.svg" alt="menu do dispositivo mobile">
      </div>
      <img class="logo-img" src="../images/logo.svg" alt="PlayStation" />
      <h2 class="logo-titulo">GodFather Game</h2>
    </div>
  
    <div class="menu">
      <ul class="links">
        <li class="nav-link"> <a href="/"> Accueil</li></a>
        <li class="nav-link"> <a href="/a-propos"> A Propos</li></a>
        <li class="nav-link"> <a href="/produits"> Produits</li></a>
        <li class="nav-link"> <a href="/categories"> Categories</li></a>
        <li class="nav-link"> <a href="/#faq"> FAQs</li></a>
        <li class="nav-link"> <a href="/contact"> Contact</li></a>        
        <div class="btn-dark-mode" >
          <img id="btn" src="../images/Dark.svg" alt="botão do dark mode"> 
        </div>
      </ul>
    </div>
  </nav>
  </header>